@import "tailwindcss";
@plugin "daisyui" {
  themes: mytheme --default;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  color-scheme: light;
  --color-primary: #000000;
  --color-secondary: #ddff89;
  --color-accent: #06d9c4;
  --color-neutral: #bf07f2;
  --color-base-100: #ffffff;
  --color-info: #73D2F2;
  --color-success: #0D6351;
  --color-warning: #EDC35A;
  --color-error: #E34F58;
  --radius-box: 1rem;
  --radius-btn: 0.5rem;
  --radius-field: 0.25rem;
  --border-btn: 0;
}
@plugin "@tailwindcss/typography";

@theme {
  --font-burra: "Burra";
}

.prose :where(h1, h2, h3, h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-family: "Burra", sans-serif;
  color: var(--color-neutral);
}

    @font-face {
        font-family: 'Burra';
        font-weight: bold;
        src: url(/Burra-Font-Family/Burra-Bold.ttf) format("truetype"); ;
    }
    @font-face {
        font-family: 'Burra';
        font-weight: bold;
        font-stretch: condensed;
        src: url(/Burra-Font-Family/Burra-BoldCondensed.ttf) format("truetype"); ;
    }
    @font-face {
        font-family: 'Burra';
        font-weight: bold;
        font-stretch: expanded;
        src: url(/Burra-Font-Family/Burra-BoldExpanded.ttf) format("truetype"); ;
    }
    @font-face {
        font-family: 'Burra';
        font-weight: 300;
        src: url(/Burra-Font-Family/Burra-Light.ttf) format("truetype"); ;
    }
    @font-face {
        font-family: 'Burra';
        font-weight: 300;
        font-stretch: condensed;
        src: url(/Burra-Font-Family/Burra-LightCondensed.ttf) format("truetype"); ;
    }
    @font-face {
        font-family: 'Burra';
        font-weight: 300;
        font-stretch: expanded;
        src: url(/Burra-Font-Family/Burra-LightExpanded.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Burra';
        font-weight: 500;
        src: url(/Burra-Font-Family/Burra-Medium.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Burra';
        font-weight: 500;
        font-stretch: condensed;
        src: url(/Burra-Font-Family/Burra-MediumCondensed.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Burra';
        font-weight: 500;
        font-stretch: expanded;
        src: url(/Burra-Font-Family/Burra-MediumExpanded.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Burra';
        font-weight: normal;
        src: url(/Burra-Font-Family/Burra-Regular.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Burra';
        font-weight: normal;
        font-stretch: condensed;
        src: url(/Burra-Font-Family/Burra-RegularCondensed.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Burra';
        font-weight: normal;
        font-stretch: expanded;
        src: url(/Burra-Font-Family/Burra-RegularExpanded.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Burra';
        font-weight: 100;
        src: url(/Burra-Font-Family/Burra-Thin.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Burra';
        font-weight: 100;
        font-stretch: condensed;
        src: url(/Burra-Font-Family/Burra-ThinCondensed.ttf) format("truetype");
    }
    @font-face {
        font-family: 'Burra';
        font-weight: 100;
        font-stretch: expanded;
        src: url(/Burra-Font-Family/Burra-ThinExpanded.ttf) format("truetype");
    }

